<h3>Embedding PST Timer</h3>
<pre>
&lt;div id=&quot;pst-container&quot;&gt;
  &lt;div&gt;Philippine Standard Time:&lt;/div&gt;
  &lt;div id=&quot;pst-time&quot;&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;script type=&quot;text/javascript&quot; id=&quot;gwt-pst&quot;&gt;
(function(d, eId) {
  var js, gjs = d.getElementById(eId);
  js = d.createElement('script'); js.id = 'gwt-pst-jsdk';
  js.src = &quot;//gwhs.i.gov.ph/pst/gwtpst.js?&quot;+new Date().getTime();
  gjs.parentNode.insertBefore(js, gjs);
}(document, 'gwt-pst'));

var gwtpstReady = function(){
  new gwtpstTime('pst-time');
}
&lt;/script&gt;
</pre>

<h1>Sample Output</h1>
<div id="pst-container">
<div>Philippine Standard Time:</div>
<div id="pst-time"></div>
</div>
<script type="text/javascript" id="gwt-pst">
(function(d, eId) {
  var js, gjs = d.getElementById(eId);
  js = d.createElement('script'); js.id = 'gwt-pst-jsdk';
  // js.src = "//gwhs.i.gov.ph/pst/gwtpst.js?"+new Date().getTime();
  js.src = "//index.web.local/pst/gwtpst.js?"+new Date().getTime();
  gjs.parentNode.insertBefore(js, gjs);
}(document, 'gwt-pst'));

var gwtpstReady = function(){
  new gwtpstTime('pst-time');
}
</script>